@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  background-color: lightgray
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
  margin: 1em;
}

.hero img {
  border-radius: 10px;
}

.hero__title {
  @apply 2xl:text-[66px] sm:text-[58px] text-[40px] font-extrabold;
  margin-bottom: 10px;
}

.hero__image {
  position: absolute;
  top: 0;
  width: 10%;
  z-index: 1;
}

.hero__subtitle {
  @apply text-[27px] text-black-100 font-light mt-5;
}

.button {
  border: none;
  cursor: pointer;
  appearance: none;
  color: black;
  width: 70px;
  line-height: 2;
  border-radius: 4px;
  font-weight: 700;
  transition: background-color 0.3s;

  &:hover {
    background-color: #4281b2;
  }
}

.red {
  background-color: rgb(225, 44, 44);
}

.lightgreen {
  background-color: rgb(71, 182, 71);
}

.login {
  width: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logout {
  float: right;
  margin-right: 15px;
}

.text-box {
  background-color: white;
  margin: 10px;
}

.nav-item {
  padding: 20px;
}

.nav-tabs
.nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  font-weight: bold;
  color: #000;
}
.nav-link {
  font-size: 18px;
  color: #586069;
}

.data-list {
  display: flex;
  flex-wrap: wrap;
}

.data-list-item {
  width: 50%;
  margin-top: 30px;
}

.workspace-container {
  width: 100%;
}

.workspace-title {
  margin-top: -40px;
  font-size: 36px;
  font-weight: bold;
}